<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 别名定义 
	<typeAliases>
		<package name="com.springapp.mvc.model"/>
	</typeAliases>
	
	-->

	
	
	
	<!-- 加载 映射文件 -->
	<!--  
	<mappers>
		<mapper resource="sqlmap/User.xml"/>
	</mappers>
	
	-->
<!--  
       <settings>
              <setting name="cacheEnabled" value="false" />
              <setting name="lazyLoadingEnabled" value="false" />
              <setting name="aggressiveLazyLoading" value="false" />
              <setting name="multipleResultSetsEnabled" value="true" />
              <setting name="useColumnLabel" value="true" />
              <setting name="useGeneratedKeys" value="false" />
              <setting name="autoMappingBehavior" value="PARTIAL" />
              <setting name="defaultExecutorType" value="SIMPLE" />
              <setting name="defaultStatementTimeout" value="25000" />
              <setting name="safeRowBoundsEnabled" value="false" />
              <setting name="mapUnderscoreToCamelCase" value="false" />
              <setting name="localCacheScope" value="SESSION" />
              <setting name="jdbcTypeForNull" value="OTHER" />
              <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
       </settings>
       -->
           <!-- 全局配置 -->
    <settings>
        <!--允许 JDBC 支持自动生成主键-->
        <setting name="useGeneratedKeys" value="false"/>
       <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 
			Java 属性名 aColumn 的类似映射。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>